@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <p id="current_time"></p>
    </div>
    <button type="button" id="submitBtn" class="btn btn-sm btn-outline-primary btn-block">Сохранить</button>
</div>

<div>
    @await Component.InvokeAsync("RecordList")
</div>
@section Scripts{
    <script>

        $('#submitBtn').click(function() {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SaveValue", "Home")',
                    data: { date: $('#current_time').text()   },
                    success: function (response) {
                        if (response.result==1)
                            $("#recordlist").append('<li>' + $('#current_time').text()+'</li>');
            $('#recordlist').append(response.value);
            alert(response.message);
        }
        });
        });

        var timeDisplay = document.getElementById("current_time");


        function refreshTime() {
            var dateString = new Date().toLocaleString("ru-RU");
         //   var formattedString = dateString.replace(", ", " ");
         //   timeDisplay.innerHTML = formattedString;
            $('#current_time').text(dateString);
        }
        setInterval(refreshTime, 1000);
    </script>
}